@import 'variables';

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $background-color;
    z-index: -2;
    color: white;
    font-family: $font;
}

.espacement{
    margin-top: 100vh;
    padding: 20px;
}
/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;

    &-thumb {
        background-color: $yellow;

        &:hover {
            background-color: $red;
        }
    }

    &-track {
        background-color: black;
    }
}


/* Loader */
.loader {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.loader .loader-element {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.loader p{
    color: $red;
    font-size: 3em;
    margin-bottom: 0.2em;
}

.loader img{
    max-width: 50%;
}

.loader-bar {
    width: 40%;
    height: 6em;
    background-color: $background-color;
    position: fixed;
    top: 50%;
    left: 30%;
    z-index: 1;
    border: $red solid 5px;
    padding: 5px;
}
.bar {
    width: 0%;
    height: 100%;
    background-color: $red;
}

#content{
    opacity: 0;
}

/* Vidéo */
#landing-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


#logo {
    max-width: 70%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-start img {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 5.5em;
}

#button-start span {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blue;
    font-size: 5em;
}


/* Carousel */

#carousel {
    padding: 20px;
}